.tabla-reuniones-container {
  padding: 20px;
}

.tabla-reuniones {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tabla-reuniones th,
.tabla-reuniones td {
  border: 1px solid #ccc;
  padding: 0.8rem;
  text-align: left;
}

.tabla-reuniones th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabla-reuniones td:nth-child(4) { 
  font-weight: bold;
}

/* Puedes añadir clases específicas para diferentes estados y darles colores contrastantes */
/* Ejemplo: */
/* .estado-pendiente { color: orange; } */
/* .estado-confirmado { color: green; } */
/* .estado-cancelado { color: red; } */

.tabla-reuniones th,
.tabla-reuniones td {
  color: #333; 
}
